<section class="cd-section cd-container">
    <h2 style="font-family: Poppins;">About</h2>
    <p style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102); text-align: justify;">
        ELTRUN is the E-Business Research Center of the Athens University of Economics and Business (AUEB). The center was established by Prof.
        Doukidis in 1994 and currently consists of more than 40 researchers, including 6 members of the academic staff of AUEB and 15 Post-Doc
        and academic staff of other Institutions. Through the years, ELTRUN has successfully managed to produce state-of-the-art research and to
        complete more than 40 international research projects some of them funded by the Information Society and Technologies Program of the
        European Commission. In these international research projects, ELTRUN has collaborated closely with over 150 international companies
        such as: Microsoft, Nokia, Unisys, Sema, Sonera, Manesman, Procter &amp; Gamble, Oracle, Ericsson etc. and world-class Institutions such as
        LSE, INSEAD, St. Gallen, MIT, Cologne, Esade, Erasmus, Cambridge etc. The center is actively involved in commercial projects and executive
        education programs to solve difficult real-life problems with the support of ICTs, various activities that are intended to increase awareness
        in the fields of E-Business and supports scientifically the incubation center (ACEin) of AUEB
    </p>
</section>
