.top-div {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 25.5px;

    h2 {
        font-size: 30px;
        line-height: 40px;
    }
}

.list {
    font-size: 17px;
    padding: 20px;
    padding-top: 10px;
    list-style: circle;
    li {
        display: list-item;
        list-style-type: disc;

        font-family: Poppins;
        font-weight: normal;
        line-height: 1.7em;
        color: #666666;
    }
}
