<div class="top-div">
    <h2>
        [IMES] Interactive Marketing and Electronic Services
    </h2>
    <hr><br>
    <div style="text-align: left;">
        <b style="font-size: 22px;">Scientific Coordinator:</b><br>
        <p style="font-size: 17px; color: #666666;">Dr Adam Vrechopoulos, avrehop@aueb.gr</p><br>
        <b style="font-size: 22px;">Research Interests</b><br>
        <div style="font-size: 17px; color: #666666;">
            Basic and applied research in the context of Digital Marketing and Electronic Commerce through an interdisciplinary approach (i.e. Marketing, Information Systems and Electronic Commerce). Indicativelly, some of the research topics are the following:
            <ul class="list">
                <li>Store Atmosphere (e.g. 2D vs. 3D online stores).</li>
                <li>Effects on Consumer-User Behaviour.</li>
                <li>Electronic Customer Relationship Management (eCRM) and Sales.</li>
                <li>Consumer-User Behaviour in Omnichannel Retailing.</li>
                <li>Integrated Marketing Communications in the Digital Environment.</li>
                <li>Electronic Marketing Research and Marketing Analytics.</li>
                <li>Customization and Personalization of Consumer Services in Digital Means.</li>
                <li>Strategic Digital Marketing Planning.</li>
            </ul>
        </div>
        <b style="font-size: 22px;">Research streams</b><br>
        <ul class="list">
            <li>Store Atmosphere (e.g. 2D vs. 3D online stores) Effects on Consumer-User Behaviour.</li>
            <li>Electronic Customer Relationship Management (eCRM) and Sales.</li>
            <li>Consumer-User Behaviour in Omnichannel Retailing</li>
            <li>Integrated Marketing Communications in the Digital Environment</li>
            <li>Electronic Marketing Research and Marketing Analytics</li>
            <li>Customization and Personalization of Consumer Services in Digital Means</li>
            <li>Strategic Digital Marketing Planning</li>
        </ul>
        <b style="font-size: 22px;">Research Objectives</b><br>
        <p style="font-size: 17px; color: #666666;">The research group conducts basic and applied research in the context of Digital Marketing and Electronic Commerce through an interdisciplinary approach (i.e. Marketing, Information Systems and Electronic Commerce).</p>
    </div>
</div>
