<header class="cd-header">
    <div id="cd-logo" [class.is-hidden]="isHidden" [class.slide-in]="slideIn"><a href="#0"><img src="assets/img/eltrun.png" alt="Logo"></a></div>
    <nav class="cd-primary-nav" (click)="openPrimaryNav()">
        <ul [class.is-visible]="isPrimaryVisible">
            <!-- inser more links here -->
            <li><a href="#0">Login</a></li>
            <li><a href="#0">Tour</a></li>
            <li><a href="#0">Buy</a></li>
        </ul>
    </nav> <!-- cd-primary-nav -->
</header>
<section id="cd-intro">
    <ng-content select="[background]"></ng-content>
    <!--<div #IntroTagline id="cd-intro-tagline">
        <h1>Sample text</h1>
    </div> <! #cd-intro-tagline -->
</section> <!-- #cd-intro -->

<div #SecondaryNav class="cd-secondary-nav" [class.is-fixed]="isFixed" [class.animate-children]="slideIn">
    <div class="cd-secondary-nav-trigger" [class.menu-is-open]="isOpen" (click)="openSecondaryNavTrigger()">Menu<span></span></div> <!-- button visible on small devices -->
    <nav>
        <ul [class.is-visible]="isOpen">
            <li>
                <a [routerLink]=" ['/'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>About</b>
                  <span></span><!-- icon -->
                </a>
            </li>
            <li>
                <a [routerLink]=" ['/projects'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>Projects</b>
                  <span></span><!-- icon -->
                </a>
            </li>
            <li>
                <a [routerLink]=" ['/publications'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>Publications</b>
                  <span></span><!-- icon -->
                </a>
            </li>
            <li>
                <a [routerLink]=" ['/team'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>Team</b>
                  <span></span><!-- icon -->
                </a>
            </li>
            <li>
                <a [routerLink]=" ['/phds'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>Phds</b>
                  <span></span><!-- icon -->
                </a>
            </li>
            <li>
                <a [routerLink]=" ['/research'] "
                  routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                  <b>Research</b>
                  <span></span><!-- icon -->
                </a>
            </li>
        </ul>
    </nav>
</div> <!-- .cd-secondary-nav -->
<div [class.has-top-margin]="isFixed"></div> <!-- .cd-main-content -->
