<div mat-dialog-content class="ffs" style="max-height: 100vh; overflow-x: overlay;">
    <h1 mat-dialog-title style="font-family: Poppins; color: rgb(134, 18, 18); margin-bottom: none;">
        {{profile.name}}
        <p style="font-family: Poppins; font-size: 18px; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102); margin-bottom: 20px;">
            {{profile.title}}
        </p>
    </h1>

    <div style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102);">
        <p style="display: inline-block;">
            <button mat-button type="button"><mat-icon>phone</mat-icon>&nbsp;&nbsp;{{profile.phone}}</button> <br>
            <button mat-button type="button" href="mailto:test@company.com"><mat-icon>mail</mat-icon>&nbsp;&nbsp;{{profile.mail}}</button> <br>
        </p>
        <p style="display: inline-block; min-width: 300px"></p>
        <p style="display: inline-block;">
            <button mat-button type="button"><mat-icon>place</mat-icon>&nbsp;&nbsp;{{profile.address}}</button> <br>
        </p>
    </div>

    <div style="position: relative; overflow: hidden; margin-top:25px; padding-bottom: 36px">
        <h3 style="color: rgb(134, 18, 18);">About</h3>
        <hr>
        <div style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102); text-align: justify;">
            {{profile.bio}}
        </div>
        <button mat-dialog-close mat-button (click)="onNoClick()" tabindex="2" style="position: absolute; right: 0; bottom: 12">Close</button>
    </div>
</div>
