@import '~@angular/material/_theming';

// NOTE: Theming is currently experimental and not yet publicly released!

@include mat-core();

$mat-dark-blue: (
    50 : #e1e2e3,
    100 : #b3b6ba,
    200 : #81868c,
    300 : #4f565d,
    400 : #29313b,
    500 : #030d18,
    600 : #030b15,
    700 : #020911,
    800 : #02070e,
    900 : #010308,
    A100 : #4e4eff,
    A200 : #1b1bff,
    A400 : #0000e7,
    A700 : #0000ce,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff, 
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$primary: mat-palette($mat-dark-blue);
$accent:  mat-palette($mat-amber, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.m2app-dark {
  $dark-primary: mat-palette($mat-pink, 700, 500, 900);
  $dark-accent:  mat-palette($mat-blue-grey, A200, A100, A400);
  $dark-warn:    mat-palette($mat-deep-orange);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.route-container {
    position: relative;
}

.route-container>* {
    display: block;
}
