<div class="top-div">
    <h2 style="font-size: 30px;">
        Ennovation Competition
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        ELTRUN supports various activities aimed to build awareness and inspire students and young people enter into the entrepreneurship domain.<br><br>
        For ten consecutive years, ELTRUN has the scientific coordination of the most successful University competition on “Digital Innovation and Entrepreneurship” (in collaboration with 18 other Universities in Greece and Cyprus), with the participation each year of about 400 students from 40 Greek and foreign Universities, while winners of the competition have successfully continued with their entrepreneurial activity (www.ennovation.eu).<br><br>
        Goal of this competition is to educate students and young researchers in the field of innovation and digital entrepreneurship, as also to promote young entrepreneurship in the fields of Internet, mobile business, Internet of things etc. Since 2014, the Ennovation Research Stream has also been added to the competition, focusing on research results of technological innovation and business development. This stream aims in boosting the entrepreneurial mindset and intention in academic researchers and targets to boost knowledge transfer.
    </div>
</div>
