<div class="top-div">
    <h2 style="font-size: 30px;">
        IDEA – Open Innovation
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        ELTRUN supports specialized Open Innovation programs in collaboration with corporate organizations in vertical sectors, entitled «IDEA – Innovation, Design & Entrepreneurial Action». The IDEA program helps a firm work with a group of talents or entrepreneurial teams or startups to solve specific business issues and thus embrace innovation. The program incorporates the concept of open innovation to boost entrepreneurship in specific market domains (e.g. tourism, health, fintech etc.) and, as a result, it promotes a vertical focus and depth of innovation. <br><br>

        The program is addressed to talented people and top students from leading business schools and technical universities or already established entrepreneurial teams or startups, with the aim to engage them in the definition, design and implementation of innovative entrepreneurial ideas related to a specific sector. The program initially introduces participants to the requirements, challenges and unique characteristics of the specific context and supports them in the idea generation and team-building phases. Formulated teams then work to further define the basic building blocks of their entrepreneurial idea and business model, as well as to build a mock-up prototype of the proposed innovative product/ service. Teams are evaluated at this stage and those selected get further support to proceed with the implementation of their ideas and test them in a market context. <br><br>

        The IDEA model has to-date produced several different types of outputs including digital technologies, new services and co-branding arrangements which are formally agreed between the start-up teams and the company. These agreements have taken different forms depending on the exact details of the case including supplier contracts and revenue sharing agreements. <br><br>

        The open innovation model that structures the IDEA program was first put into practice through collaboration with the Athens International Airport (branded as “The Digital Gate” program), a big insurance company (branded as IDEA in Health), a fintech company (branded as VivaNest). <br>

        ELTRUN provides scientific support to the Athens Center for Entrepreneurship and Innovation (ACEin) that organizes the IDEA programs.<br><br>

        Find more information here.
    </div>
</div>
