<section class="cd-section">
    <mat-tab-group>
        <mat-tab label="European R&amp;D Projects">
            <div class="content" *ngFor="let project of projectsService.getProjects() | async">
                <h2>{{project.title}}</h2>
                <hr>
                <ul>
                    <li *ngFor="let item of project.items">
                        <h4 (click)="onClick(item.dialog)">{{item.title}}</h4>
                        <p>{{item.sub}}</p>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="National Projects">
        </mat-tab>
        <mat-tab label="Industrial R&amp;D">
        </mat-tab>
    </mat-tab-group>
</section>
