<section class="cd-section">
    <mat-tab-group>
        <mat-tab label="European R&amp;D Projects">
            <div class="content">
                <h2>Horizon 2020</h2>
                <hr>
                <ul>
                    <li>
                        <h4 (click)="onClick()">DISRUPT</h4>
                        <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">ENTROPY</h4>
                        <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">CHARGED</h4>
                        <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">U-TURN</h4>
                        <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                    </li>

                    <li>
                        <h4 (click)="onClick()">EU-XCEL</h4>
                        <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                            communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                        </li>
                    </ul>
                </div>
                <div class="content">
                    <h2>Horizon 2020</h2>
                    <hr>
                    <ul>
                        <li>
                            <h4 (click)="onClick()">DISRUPT</h4>
                            <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                        </li>
                        <li>
                            <h4 (click)="onClick()">ENTROPY</h4>
                            <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                        </li>
                        <li>
                            <h4 (click)="onClick()">CHARGED</h4>
                            <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                        </li>
                        <li>
                            <h4 (click)="onClick()">U-TURN</h4>
                            <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                        </li>

                        <li>
                            <h4 (click)="onClick()">EU-XCEL</h4>
                            <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                                communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                            </li>
                        </ul>
                    </div>
                </mat-tab>
                <mat-tab label="National Projects">
                    <div class="content">
                        <h2>Horizon 2020</h2>
                        <hr>
                        <ul>
                            <li>
                                <h4 (click)="onClick()">DISRUPT</h4>
                                <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                            </li>
                            <li>
                                <h4 (click)="onClick()">ENTROPY</h4>
                                <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                            </li>
                            <li>
                                <h4 (click)="onClick()">CHARGED</h4>
                                <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                            </li>
                            <li>
                                <h4 (click)="onClick()">U-TURN</h4>
                                <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                            </li>

                            <li>
                                <h4 (click)="onClick()">EU-XCEL</h4>
                                <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                                    communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                                </li>
                            </ul>
                        </div>
                        <div class="content">
                            <h2>Horizon 2020</h2>
                            <hr>
                            <ul>
                                <li>
                                    <h4 (click)="onClick()">DISRUPT</h4>
                                    <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                                </li>
                                <li>
                                    <h4 (click)="onClick()">ENTROPY</h4>
                                    <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                                </li>
                                <li>
                                    <h4 (click)="onClick()">CHARGED</h4>
                                    <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                                </li>
                                <li>
                                    <h4 (click)="onClick()">U-TURN</h4>
                                    <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                                </li>

                                <li>
                                    <h4 (click)="onClick()">EU-XCEL</h4>
                                    <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                                        communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                                    </li>
                                </ul>
                            </div>
                        </mat-tab>
                        <mat-tab label="Commercial R&amp;D">
                            <div class="content">
                                <h2>Horizon 2020</h2>
                                <hr>
                                <ul>
                                    <li>
                                        <h4 (click)="onClick()">DISRUPT</h4>
                                        <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                                    </li>
                                    <li>
                                        <h4 (click)="onClick()">ENTROPY</h4>
                                        <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                                    </li>
                                    <li>
                                        <h4 (click)="onClick()">CHARGED</h4>
                                        <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                                    </li>
                                    <li>
                                        <h4 (click)="onClick()">U-TURN</h4>
                                        <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                                    </li>

                                    <li>
                                        <h4 (click)="onClick()">EU-XCEL</h4>
                                        <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                                            communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="content">
                                    <h2>Horizon 2020</h2>
                                    <hr>
                                    <ul>
                                        <li>
                                            <h4 (click)="onClick()">DISRUPT</h4>
                                            <p>DISRUPT aims to spearhead the transition to the next-generation manufacturing by facilitating the vision of a “Smart Factory”.</p>
                                        </li>
                                        <li>
                                            <h4 (click)="onClick()">ENTROPY</h4>
                                            <p>Design of an innovative energy-aware it ecosystem for motivating behavioural changes towards the adoption of energy efficient lifestyles</p>
                                        </li>
                                        <li>
                                            <h4 (click)="onClick()">CHARGED</h4>
                                            <p>ChArGED addresses the energy consumption in public buildings and proposes a framework that aims to facilitate achieving greater energy efficiency and reductions of wasted energy in public buildings.</p>
                                        </li>
                                        <li>
                                            <h4 (click)="onClick()">U-TURN</h4>
                                            <p>The U-TURN project aims at addressing freight urban distribution, focusing on food logistics.</p>
                                        </li>

                                        <li>
                                            <h4 (click)="onClick()">EU-XCEL</h4>
                                            <p>EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information,
                                                communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </section>
