<div mat-dialog-content class="ffs" style="max-height: 100vh; overflow-x: overlay;">
    <mat-icon color="accent" (click)="onNoClick()" class="exit">clear</mat-icon>
    <img [src]="data.img" alt="">

    <!--h1 mat-dialog-title style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(134, 18, 18);">
        DISRUPT
    </h1-->

    <p style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102); margin-bottom: 20px; margin-top: 20px;">
        {{data.title}}
    </p>

    <div style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102);">
        <p style="display: inline-block;">
            <b style="font-weight: 600;">Call:</b> {{data.call}} <br>
            <b style="font-weight: 600;">Instrument:</b> {{data.instrument}} <br>
        </p>
        <p style="display: inline-block; min-width: 300px"></p>
        <p style="display: inline-block;">
            <b style="font-weight: 600">Project Duration:</b> {{data.duration}} <br>
            <b style="font-weight: 600">Website:</b> {{data.site}} <br>
        </p>
    </div>

    <div style="position: relative; overflow: hidden; margin-top:25px;">
        <h3 style="color: rgb(134, 18, 18);">Summary</h3>
        <hr>
        <div style="font-family: Poppins; font-weight: 400; line-height: 25.5px; color: rgb(102, 102, 102); text-align: justify;">
            {{data.summary}}
        </div>
    </div>
</div>
