<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Eltrun<span>Lab</span></h3>

        <p class="footer-links">
            <a [routerLink]=" ['/'] "
              routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
              About
            </a>
            ·
            <a [routerLink]=" ['/projects'] "
              routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
              Projects
            </a>
            ·
            <a [routerLink]=" ['/publications'] "
              routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
              Publications
            </a>
            ·
            <a [routerLink]=" ['/team'] "
              routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
              Team
            </a>
            ·
            <a [routerLink]="[]" fragment="cd-placeholder-5">
                Stats
            </a>
            ·
            <a href="/api/auth/google">
                Login
            </a>
        </p>

        <p class="footer-company-name">Eltrun &copy; 2018</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>21 Revolution Street</span> Paris, France</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+1 555 123456</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            ELTRUN is the E-Business Research Center of the Athens University of Economics and Business (AUEB).
        </p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>
