<div class="top-div">
    <h2 style="font-size: 30px;">
        Prototype By TEE
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        The program “Prototype by TEE” is addressed to talented engineers from leading business schools and technical universities or already established tech startups, with the aim to engage them in the definition, design and implementation of innovative entrepreneurial ideas related to specific sectors such as Renewable Energy Sources and Energy Sustainability Construction, Innovative Products and Advanced Materials (New Chemical Materials and Nanotechnology), Automation, Environmental Technologies and Applications, Waste Management, Information and Communication Technology (ICT), Tourism and Transport Services. The program supports the teams to define the basic building blocks of their entrepreneurial idea and business model, as well as to build a mock-up prototype of the proposed innovative product/ service. Teams are evaluated during the program and those selected get further support to proceed with the implementation of their ideas and test them in a market context.<br><br>
        ELTRUN provides scientific support to the Athens Center for Entrepreneurship and Innovation (ACEin) that organizes the Prototype by TEE program.<br><br>

        Find more information here.
    </div>
</div>
