/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

profile-card {
    display: inline-block;
    padding: 10px;
    padding-right: 41px;
}

.top-margin {
    margin-top: 30px;
}

.cd-container {
    max-width: none;
    text-align: center;
    margin-top: 70px;
}

.center {
    display: inline-block;
}

section {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    line-height: 25.5px;

    h2 {
        font-size: 30px;
        text-align: left;
    }
}
