<section class="cd-section cd-container">
    <h2>Director</h2>
    <hr>
    <div>
        <profile-card>
            <ng-container card-name>George Doukidis</ng-container>
            <ng-container card-title>Professor</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
    </div>
    <h2 class="top-margin">Scientific Coordinators</h2>
    <hr>
    <div>
        <profile-card>
            <ng-container card-name>Katerina Pramatari</ng-container>
            <ng-container card-title>Assoc. Professor</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>

        <profile-card>
            <ng-container card-name>Yiannis Mourtos</ng-container>
            <ng-container card-title>Assoc. Professor</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
        <profile-card>
            <ng-container card-name>George Lekakos</ng-container>
            <ng-container card-title>Assoc. Professor</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>

        <profile-card>
            <ng-container card-name>Adam Vrechopoulos</ng-container>
            <ng-container card-title>Assoc. Professor</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
    </div>
    <h2 class="top-margin">Senior Researchers</h2>
    <hr>
    <div>
        <profile-card>
            <ng-container card-name>Cleopatra Bardaki</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>

        <profile-card>
            <ng-container card-name>Aggeliki Karagiannaki</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
        <profile-card>
            <ng-container card-name>Eleni Zampou</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
        <profile-card>
            <ng-container card-name>Katerina Fraidaki</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
        <profile-card>
            <ng-container card-name>Pavlos Eirinakis</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
        <profile-card>
            <ng-container card-name>Stavros Lounis</ng-container>
            <ng-container card-title>??</ng-container>
            <ng-container card-summary>
                {{ desc }}
            </ng-container>
        </profile-card>
    </div>
</section>
