<section class="cd-section cd-container">
    <h2>Director</h2>
    <hr>
    <div class="center">
        <profile-card [profile]="profile"></profile-card>
    </div>
    <h2 class="top-margin">Scientific Coordinators</h2>
    <hr>
    <div class="center">
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
    </div>
    <h2 class="top-margin">Senior Researchers</h2>
    <hr>
    <div class="center">
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
        <profile-card [profile]="profile"></profile-card>
    </div>
</section>
