<section class="cd-section" style="max-width: 1400px;">
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    [SCORE]
                </mat-panel-title>
                <mat-panel-description>
                    Supply & Demand Management. Collaboration and Electronic Services
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: left; font-family: Poppins">
                <b style="font-size: 22px;">Scientific Coordinator:</b><br>
                <p style="font-size: 17px; color: #666666;">Dr. Katerina Pramatari, k.pramatari@aueb.gr</p> <br>
                <b style="font-size: 22px;">Research streams</b><br>
                <ul class="list">
                    <li>Store Atmosphere (e.g. 2D vs. 3D online stores) Effects on Consumer-User Behaviour.</li>
                    <li>Electronic Customer Relationship Management (eCRM) and Sales.</li>
                    <li>Consumer-User Behaviour in Omnichannel Retailing</li>
                    <li>Integrated Marketing Communications in the Digital Environment</li>
                    <li>Electronic Marketing Research and Marketing Analytics</li>
                    <li>Customization and Personalization of Consumer Services in Digital Means</li>
                    <li>Strategic Digital Marketing Planning</li>
                </ul>
                <b style="font-size: 22px;">Research Objectives</b><br>
                <p style="font-size: 17px; color: #666666;">The research group conducts basic and applied research in the context of Digital Marketing and Electronic Commerce
                    through an interdisciplinary approach (i.e. Marketing, Information Systems and Electronic Commerce).</p>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    [EBISE]
                </mat-panel-title>
                <mat-panel-description>
                    E-Business Innovation, Strategy and Entrepreneurship
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: left; font-family: Poppins">
                <b style="font-size: 22px;">Scientific Coordinator:</b><br>
                <p style="font-size: 17px; color: #666666;">Professor George I. Doukidis, gjd@aueb.gr</p> <br>
                <b style="font-size: 22px;">Research streams</b><br>
                <ul class="list">
                    <li>E-business strategy and innovation</li>
                    <li>Business planning and exploitation</li>
                    <li>Market analysis and differentiation strategies</li>
                    <li>Starting new ventures and entrepreneurial thinking</li>
                    <li>Guidance, acceleration and support for new e-business ventures</li>
                </ul>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    [ADOPT]
                </mat-panel-title>
                <mat-panel-description>
                    Algorithms and Discrete Optimization
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: left; font-family: Poppins">
                <b style="font-size: 22px;">Scientific Coordinator:</b><br>
                <p style="font-size: 17px; color: #666666;">Dr. Katerina Pramatari, k.pramatari@aueb.gr</p> <br>
                <b style="font-size: 22px;">Research streams</b><br>
                <ul class="list">
                    <li>Matchings and allocations under preferences, mostly focusing on stable b-matchings, Pareto b-matchings and Pareto-allocation</li>
                    <li>Applications of matchings under preferences to mechanism design especially in B2B settings</li>
                    <li>Polyhedral combinatorics and integer programming, mostly focusing on multi-index assignment problems and  multiple all-different predicates</li>
                    <li>Optimisation and digitisation of manufacturing, productivity analysis and performance evaluation</li>
                </ul>
                <b style="font-size: 22px;">Research Objectives</b><br>
                <div style="font-size: 17px; color: #666666;">
                    The group conducts research in the aforementioned areas, aiming at both high-quality journal publications and research funding allowing broad collaborations with academic and industrial organisations.  In this context, the group’s agenda includes the following:
                    <ul class="list">
                        <li>Structural properties for key problems combinatorial optimisation, mainly but not exclusively in the form of polyhedral analysis.</li>
                        <li>Design of combinatorial algorithms and optimisation methods based on integer programming, which partly exploit the structural properties of the problem in hand.</li>
                        <li>Development of optimisation software, normally problem-specific but with an emphasis on components that remain transferrable within broad problem classes.</li>
                        <li>Applying optimisation tools and services in real-life settings for decision support, relying on well-structured user requirements and accompanying technologies for monitoring and data analytics.</li>
                    </ul>
                </div>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    [IMES]
                </mat-panel-title>
                <mat-panel-description>
                    Interactive Marketing and Electronic Services
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: left; font-family: Poppins">
                <b style="font-size: 22px;">Scientific Coordinator:</b><br>
                <p style="font-size: 17px; color: #666666;">Dr Adam Vrechopoulos, avrehop@aueb.gr</p> <br>
                <b style="font-size: 22px;">Research Interests</b><br>
                <div style="font-size: 17px; color: #666666;">
                    Basic and applied research in the context of Digital Marketing and Electronic Commerce through an interdisciplinary approach (i.e. Marketing, Information Systems and Electronic Commerce). Indicativelly, some of the research topics are the following:
                    <ul class="list">
                        <li>Store Atmosphere (e.g. 2D vs. 3D online stores).</li>
                        <li>Effects on Consumer-User Behaviour.</li>
                        <li>Electronic Customer Relationship Management (eCRM) and Sales.</li>
                        <li>Consumer-User Behaviour in Omnichannel Retailing.</li>
                        <li>Integrated Marketing Communications in the Digital Environment.</li>
                        <li>Electronic Marketing Research and Marketing Analytics.</li>
                        <li>Customization and Personalization of Consumer Services in Digital Means.</li>
                        <li>Strategic Digital Marketing Planning.</li>
                    </ul>
                </div>
                <b style="font-size: 22px;">Research streams</b><br>
                <ul class="list">
                    <li>Store Atmosphere (e.g. 2D vs. 3D online stores) Effects on Consumer-User Behaviour.</li>
                    <li>Electronic Customer Relationship Management (eCRM) and Sales.</li>
                    <li>Consumer-User Behaviour in Omnichannel Retailing</li>
                    <li>Integrated Marketing Communications in the Digital Environment</li>
                    <li>Electronic Marketing Research and Marketing Analytics</li>
                    <li>Customization and Personalization of Consumer Services in Digital Means</li>
                    <li>Strategic Digital Marketing Planning</li>
                </ul>
                <b style="font-size: 22px;">Research Objectives</b><br>
                <p style="font-size: 17px; color: #666666;">The research group conducts basic and applied research in the context of Digital Marketing and Electronic Commerce through an interdisciplinary approach (i.e. Marketing, Information Systems and Electronic Commerce).</p>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    [IML]
                </mat-panel-title>
                <mat-panel-description>
                    Intelligent Media Lab
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div style="text-align: left; font-family: Poppins">
                <b style="font-size: 22px;">Scientific Coordinator:</b><br>
                <p style="font-size: 17px; color: #666666;">Dr George Lekakos glekakos@aueb.gr</p> <br>
                <b style="font-size: 22px;">Research streams</b><br>
                <ul class="list">
                    <li>Recommender Systems algorithms</li>
                    <li>Persuasive Systems</li>
                    <li>Big Data Analytics (BDA) and BDA Management for competitive advantage</li>
                    <li>FinTech applications design</li>
                    <li>User-centric Interaction and Interface design</li>
                    <li>E-commerce and e-government</li>
                    <li>IoT applications</li>
                </ul>
                <b style="font-size: 22px;">Research Objectives</b><br>
                <ul class="list">
                    <li>Design new hybridization techniques for personalization algorithms</li>
                    <li>Develop new models for building Competitive Advantage for the Data-Driven Enterprise</li>
                    <li>Design consumer services enhanced with intelligent features in support of consumer’s daily living</li>
                    <li>Design new types of personalized multimodal interfaces based on Artificial Companions Technology</li>
                    <li>Build omnichannel customer experience based on personalized recommendations through interactive tools in physical environment (eg smart mirrors in physical retail stores) and online (eg chatbots, personal assistants)</li>
                    <li>Develop persuasive models and persuasive messages based on communication and information theories</li>
                    <li>Application of Deep Neural Networks in recommendation architectures achieving high recommendation quality and aiming at better customer satisfaction.</li>
                    <li>Implementation of persuasive technologies in recommendation systems based on user-centric characteristics</li>
                    <li>Developing models for real-time recommendation engines</li>
                </ul>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</section>
