<div class="top-div">
    <h2>
        [IML] Intelligent Media Lab
    </h2>
    <hr><br>
    <div style="text-align: left; font-family: Poppins">
        <b style="font-size: 22px;">Scientific Coordinator:</b><br>
        <p style="font-size: 17px; color: #666666;">Dr George Lekakos glekakos@aueb.gr</p> <br>
        <b style="font-size: 22px;">Research streams</b><br>
        <ul class="list">
            <li>Recommender Systems algorithms</li>
            <li>Persuasive Systems</li>
            <li>Big Data Analytics (BDA) and BDA Management for competitive advantage</li>
            <li>FinTech applications design</li>
            <li>User-centric Interaction and Interface design</li>
            <li>E-commerce and e-government</li>
            <li>IoT applications</li>
        </ul>
        <b style="font-size: 22px;">Research Objectives</b><br>
        <ul class="list">
            <li>Design new hybridization techniques for personalization algorithms</li>
            <li>Develop new models for building Competitive Advantage for the Data-Driven Enterprise</li>
            <li>Design consumer services enhanced with intelligent features in support of consumer’s daily living</li>
            <li>Design new types of personalized multimodal interfaces based on Artificial Companions Technology</li>
            <li>Build omnichannel customer experience based on personalized recommendations through interactive tools in physical environment (eg smart mirrors in physical retail stores) and online (eg chatbots, personal assistants)</li>
            <li>Develop persuasive models and persuasive messages based on communication and information theories</li>
            <li>Application of Deep Neural Networks in recommendation architectures achieving high recommendation quality and aiming at better customer satisfaction.</li>
            <li>Implementation of persuasive technologies in recommendation systems based on user-centric characteristics</li>
            <li>Developing models for real-time recommendation engines</li>
        </ul>
    </div>

</div>
