<div class="top-div">
    <h2 style="font-size: 30px;">
        EU-XCEL Virtual Accelerator
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        EU-XCEL is a Horizon 2020 and Startup Europe initiative which supports aspiring young tech entrepreneurs interested in co-founding new international information, communication and technology (ICT) startups through a new startup scrum training and mentored virtual accelerator initiative. EU-XCEL is based on three phases: a week-long intensive education, called ‘start-up scrum’, a 3-month long acceleration programme and a final award event, named ‘Challenge Final’.<br><br>
        ELTRUN provides scientific support to the Athens Center for Entrepreneurship and Innovation (ACEin) that organizes the EU-XCEL initiative.<br><br>

        Find more information here.
    </div>
</div>
