<div class="top-div">
    <h2 style="font-size: 30px;">
        Team building
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        ELTRUN organizes team development events branded as “Match and Develop”. Each entrepreneurial team has its own needs for growth and development. We listen to skills requirements and can craft a unique team building or team development experience. We combine our extensive knowledge of team building formats and activities with focused teaching and incisive group coaching to produce tangible complementarities in the entrepreneurial teams.
    </div>
    <br><br>
    <h2 style="font-size: 30px;">
        Mentoring and Coaching
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        Access to mentors with proven corporate, startup and venture capital experience and a successful track record. The services are provided in various fields, such as business planning, marketing, branding and design, IT, accounting and legal issues, and all of them are offered through personalized meetings with experts.
    </div>
    <br><br>
    <h2 style="font-size: 30px;">
        Exploitation of research output
    </h2>
    <hr><br>
    <div class="text" style="font-family: Poppins">
        EAn important part of the ELTRUN approach is the systematic exploitation of the research produced within the research laboratory. This is tackled through a concrete Technology/Knowledge Transfer methodology and a number of activities, such as providing continuous information/motivation to the research teams, adequate assessment of the prospects of scientific achievements, collaborative identification of the most appropriate exploitation plan per research result (e.g. setting up a business, selling research and development services, concession permits) and providing specialized consulting services, depending on the business readiness, maturity and needs of each research team.<br><br>
        ELTRUN provides scientific support to the Athens Center for Entrepreneurship and Innovation (ACEin) that is the incubation center of Athens University of Economics and Business and supports numerous entrepreneurial teams at the early stages.<br><br>

        Find more information here.
    </div>
</div>
