<div class="top-div">
    <h2>
        Training Programs “eCommerce for Beginners” and “Online Marketing & Analytics”
    </h2>
    <hr><br>
    <div style="font-size: 17px; color: #666666; text-align: justify;">
        The main objective of training programs “eCommerce for Beginners” and “Online Marketing and Analytics” is to educate the e-commerce market,
         as well as to provide all the proper information to people who want to start their own company in this sector. The competitive advantage of
         these programs is their tutors’ origin: they come both from academia and the market. The pool of tutors consists of professionals with great experience in ecommerce.
        The seminars are addressed to marketing and sales executives, as well as to individuals who want to ameliorate their knowledge in ecommerce.<br>
        The duration of each seminar is 16 hours. After a successful attendance of the program, all attendees receive a certificate by Athens University of Economics and Business.
    </div>
    <br>
    <h2>
        e-Learning program for e-Commerce
    </h2>
    <hr><br>
    <div style="font-size: 17px; color: #666666; text-align: justify;">
        The educational Center of Athens University of Economics and Business, with the scientific coordination of ELTRUN, organize the e-learning
        educational program titled “Basic Tools for your Electronic Company”. The duration of the program is 40 hours and the attendees are educated
        on the following topics: e-commerce business models, online marketing tools, usability aspect, development of an e-shop based on open-source
        platforms. Scientific Coordinator: Prof. George Doukidis, ELTRUN Director.<br><br>

        More information is found on https://elearning.aueb.gr/
    </div>
    <br>
    <h2>
        Innovation and Design Thinking in Mobile Applications and Services (ELTRUN, Samsung SA, HAMAC, INNOVATHENS)
    </h2>
    <hr><br>
    <div style="font-size: 17px; color: #666666; text-align: justify;">
        This training program’s objective is to educate the attendees in designing and developing innovative mobile services. The training focuses
        on 4 topics: (1) innovation thinking, (2) design of business plan, (3) marketing actions, and (4) development of mobile services mock-ups.
        The program duration is 50 hours and it is addressed to unemployed people that hold (at least) a bachelor degree. ELTRUN is the scientific coordinator of this program.
    </div>
</div>
