<div class="top-div">
    <h2>
        [EBISE] E-Business Innovation, Strategy and Entrepreneurship
    </h2>
    <hr><br>
    <div style="text-align: left;">
        <b style="font-size: 22px;">Scientific Coordinator:</b><br>
        <p style="font-size: 17px; color: #666666;">Professor George I. Doukidis, gjd@aueb.gr</p><br>
        <b style="font-size: 22px;">Research streams</b><br>
        <ul class="list">
            <li>E-business strategy and innovation</li>
            <li>Business planning and exploitation</li>
            <li>Market analysis and differentiation strategies</li>
            <li>Starting new ventures and entrepreneurial thinking</li>
            <li>Guidance, acceleration and support for new e-business ventures</li>
        </ul>
    </div>
</div>
