<div class="top-div">
    <h2>
        [ADOPT] Algorithms and Discrete Optimization
    </h2>
    <hr><br>
    <div style="text-align: left;">
        <b style="font-size: 22px;">Scientific Coordinator:</b><br>
        <p style="font-size: 17px; color: #666666;">Dr. Katerina Pramatari, k.pramatari@aueb.gr</p><br>
        <b style="font-size: 22px;">Research streams</b><br>
        <ul class="list">
            <li>Matchings and allocations under preferences, mostly focusing on stable b-matchings, Pareto b-matchings and Pareto-allocation</li>
            <li>Applications of matchings under preferences to mechanism design especially in B2B settings</li>
            <li>Polyhedral combinatorics and integer programming, mostly focusing on multi-index assignment problems and  multiple all-different predicates</li>
            <li>Optimisation and digitisation of manufacturing, productivity analysis and performance evaluation</li>
        </ul>
        <b style="font-size: 22px;">Research Objectives</b><br>
        <div style="font-size: 17px; color: #666666;">
            The group conducts research in the aforementioned areas, aiming at both high-quality journal publications and research funding allowing broad collaborations with academic and industrial organisations.  In this context, the group’s agenda includes the following:
            <ul class="list">
                <li>Structural properties for key problems combinatorial optimisation, mainly but not exclusively in the form of polyhedral analysis.</li>
                <li>Design of combinatorial algorithms and optimisation methods based on integer programming, which partly exploit the structural properties of the problem in hand.</li>
                <li>Development of optimisation software, normally problem-specific but with an emphasis on components that remain transferrable within broad problem classes.</li>
                <li>Applying optimisation tools and services in real-life settings for decision support, relying on well-structured user requirements and accompanying technologies for monitoring and data analytics.</li>
            </ul>
        </div>
    </div>
</div>
