.ffs::-webkit-scrollbar {
    display:none;
}

.mat-dialog-container {
    max-width: 1400px;
    .mat-icon.exit {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    padding-top: 50px;

    @media only screen and (max-width: 600px) {

        padding-top: 100px;

    }
}
