<section class="cd-section">
    <mat-tab-group>
        <mat-tab label="Current PhD Studies">
            <div class="content">
                <ul>
                    <li>
                        <h4 (click)="onClick()">Consumer Behavior in the context of Digital Interactive Social TV</h4>
                        <p>Evangelia Mantzari</p>
                        <p>Supervised by Dr. George Lekakos</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">Social Media and Online discussions: Observing user opinion and assessing credibility</h4>
                        <p>Stelios Eliakis</p>
                        <p>Supervised by Dr. Katerina Pramatari</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">Shopping Missions, Store Layouts and their Interplay on Consumer Behavior</h4>
                        <p>Panagiotis Sarantopoulos</p>
                        <p>Supervised by Professor Georgios I. Doukidis</p>
                    </li>
                </ul>
            </div>
        </mat-tab>
        <mat-tab label="Completed PhD Studies">
            <div class="content">
                <ul>
                    <li>
                        <h4 (click)="onClick()">2-sided and multi-sided Stable Matchings: Structures, algorithms and applications</h4>
                        <p>Dr. Pavlos Eirinakis</p>
                        <p>Supervised by Dr. Yannis Mourtos</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">Personalized Advertising Services through Hybrid Recommendation Systems: The Case of Digital Interactive Television</h4>
                        <p>Dr. George Lekakos</p>
                        <p>Supervised by Professor George J. Doukidis</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">Consumer Acceptance of Technology - Based Services in Retailing: A Service Science Approach</h4>
                        <p>Dr. Aristeidis Theotokis</p>
                        <p>Supervised by Professor Georgios J.Doukidis</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">Information Quality Evaluation of Object Tracking Systems in the Internet of Things: an Analytical Approach Applied in the Supply Chain</h4>
                        <p>Dr. Cleopatra Bardaki</p>
                        <p>Supervised by Dr. Katerina Pramatari</p>
                    </li>

                    <li>
                        <h4 (click)="onClick()">Virtual Reality Internet Retailing: Experimental Examination of Interactive Shopping Interface – Store Atmosphere effects on user-consumer behaviour</h4>
                        <p>Dr. Ioannis Krasonikolakis</p>
                        <p>Supervised by Dr. Adam Vrechopoulos</p>
                    </li>
                    <li>
                        <h4 (click)="onClick()">IT investment evaluation: A Real Options Perspective- The RFID case</h4>
                        <p>Dr. Andriana Dimakopoulou</p>
                        <p>Supervised by Dr. Katerina Pramatari</p>
                    </li>
                </ul>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>
