<div class="top-div">
    <h2>
        e-Commerce and On-line Marketing Surveys
    </h2>
    <hr><br>
    <div style="font-size: 17px; color: #666666; text-align: justify;">
        The annual “eCommerce” and “On-line Marketing” surveys aim to investigate the online consumers’ behavior, as well as the ways that they prefer to
        receive information either for their purchases, or for their entertainment. The surveys’ are presented each year at the beginning of December.
        Moreover, ELTRUN conducts specified surveys and studies related to the e-commerce market, e.g. e-banking, e-health, e-commerce analytics etc.
    </div>
</div>
