.example-container {
  width: 100%;
  min-height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: block;
  height: 100%;
  //align-items: center;
  //justify-content: center;
}

.example-sidenav {
  padding: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   mat-list-item {
       padding: none;
   }
}

mat-toolbar {
    span {
        cursor: pointer;
    }
}

mat-list-item > button {
    width: 100%
}
